.Navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: blue;
}

.NavbarItem{
  padding: 4px 50px 4px 50px;
  margin: 0 10px 0 10px;
  font-size: 1.2rem;
  position: relative;
  background-color: white;
  border-radius: 10px;
  transition: all 0.2s;
}

.NavbarItem:hover{
  border-radius: 0;
  background-color: white;
}

.NavbarItem::after{
  display: block;
  position: absolute;
  content: '';
  right: 0;
  left: 0;
  margin-top: 5px;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  background-color: white;
  transition: transform 0.2s ease-in;
}

.NavbarItem:hover::after{
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  content: '';
  transform: scaleX(1);
  height: 5px;
  background-color:white;
}

.active{
  text-decoration: underline;
  font-weight: bold;
}

a{
  width: 100px;
  text-align: center;
  text-decoration: unset;
  color: blue;
}

a:first-child{
  justify-self: flex-start;
}


.Matrix{
  background-color: rgb(255, 255, 255);
  row-gap: 0;
}

.MatrixRow input{
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

.Tree{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200);
  width: 100vw;
  justify-content: space-between;
  align-content: center;
}

.Matrix{
  margin: 50px;
  margin-top: 10px;
  height: 100%;
  width: max-content;
  align-self: center;
  min-width: max-content;
  border: 15px solid inherit;
  border-radius: 20px;
}

.Button{
  color: aliceblue;
  background-color: blue;
  margin: 20px auto 20px auto;
  height:60px;
  width: 200px;
  left: 0;
  justify-self: center;
  right: 0;
  border-radius: 20px;
  transition: all 0.2s; 
  font-weight: bold;
  border: 3px solid blue;
  font-family: monospace;
  cursor: pointer;
} 

.Button:hover{
  border-radius: 0;
  border: 3px solid white;
  color: blue;
  background-color:white;
}

.ButtonDiv{
  display: flex;
  align-items: center;
  justify-items: center;
}

p{
  margin: 0;
}